.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__left {
    display: flex;
    justify-content: space-between;
}

.hapi__logo {
    object-fit: contain;
    margin-left: 20px;
    height: 25px;
}

.input__search {
    display: flex;
    width: 40%;
    align-items: center;
    border: 1px solid lightgray;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__search {
    width: 50px !important;
    background-color: #fafafa;
    border-left: 1px solid grey;
    color: grey;
}

.header-icon {
    margin-right: 10px;
}

.input__search > input {
    flex: 1;
    border: none;
}